<!DOCTYPE html>
<html lang="fr">

  <head>
    <%- include('./../../_partials/head', {pathDepth: '/../../' }) %>
  </head>

  <body id="top">
    <%- include('./../../_partials/skip-links') %>

    <%- include('./../../_sections/header', {pathDepth: './../..', currentItem: 'tableaux-de-bord'}) %>

    <main id="main" role="main" class="s-main" tabindex="-1">

      <section class="c-breadcrumb c-breadcrumb--pilotage">
        <div class="container">
          <div class="row">
            <div class="col-12">
              <nav class="c-breadcrumb c-breadcrumb--pilotage" aria-label="breadcrumb">
                <ol class="breadcrumb">
                  <li class="breadcrumb-item"><a href="/">Accueil</a></li>
                  <li class="breadcrumb-item"><a href="/tableaux-de-bord">Tableaux de bord publics</a></li>
                  <li class="breadcrumb-item active" aria-current="page">ETP conventionnés</li>
                </ol>
              </nav>
            </div>
          </div>
        </div>
      </section>

      <section class="s-pageintro">
        <div class="s-pageintro__container container">
          <div class="s-pageintro__row row">
            <div class="s-pageintro__col s-pageintro__col--title col-12">
              <h1 class="h1"><strong>ETP conventionnés</strong></h1>
            </div>
          </div>
        </div>
      </section>

      <section class="s-pageoutro">
        <div class="s-pageoutro__container container">
          <div class="s-pageoutro__row row">
            <div class="s-pageoutro__col col-12 d-flex justify-content-center">
                <article>
                  <h2>Du changement sur ce tableau de bord</h2>
                  <p class="fs-lg">Nous vous informons que ce tableau de bord n'est plus accessible car nous travaillons à améliorer la fiabilité du calcul des indicateurs dans l'objectif de faciliter vos échanges avec vos partenaires. Nous vous prions d'accepter nos excuses pour la gêne occasionnée. L'équipe pilotage de l'inclusion se tient à votre disposition pour toute question via notre <a href="https://documentation.inclusion.beta.gouv.fr/aide/pilotage/" class="font-weight-bold" target="_blank">formulaire de contact</a><i class="ri-external-link-line ml-1 font-weight-bold"></i>.</p>
              </article>
            </div>
          </div>
        </div>
      </section>

      <%- include('./../../_sections/guide-tdb', {pathDepth: './../..'}) %>

    </main>

    <%- include('./../../_sections/footer', {pathDepth: './../..'}) %>

    <%- include('./../../_partials/footer-scripts', {pathDepth: './../..', hasTracking: true, hasIframeResizer: true }) %>

  </body>

</html>
