<!DOCTYPE html>
<html lang="fr">

  <head>
    <%- include('./../../_partials/head', {pathDepth: '/../../' }) %>
  </head>

  <body id="top">

    <%- include('./../../_sections/header', {pathDepth: './../..', currentItem: 'tableaux-de-bord'}) %>

    <main class="s-main" role="main">

      <section class="c-breadcrumb c-breadcrumb--pilotage">
        <div class="container">
          <div class="row">
            <div class="col-12">
              <nav class="c-breadcrumb c-breadcrumb--pilotage" aria-label="breadcrumb">
                <ol class="breadcrumb">
                  <li class="breadcrumb-item"><a href="/">Pilotage de l'inclusion</a></li>
                  <li class="breadcrumb-item"><a href="/tableaux-de-bord">Tableaux de bord</a></li>
                  <li class="breadcrumb-item active" aria-current="page">Prescripteurs</li>
                </ol>
              </nav>
            </div>
          </div>
        </div>
      </section>

      <section class="s-pageintro">
        <div class="s-pageintro__container container">
          <div class="s-pageintro__row row">
            <div class="s-pageintro__col s-pageintro__col--title col-12">
              <h1 class="h1"><span>#</span><strong>Prescripteurs</strong></h1>
            </div>
          </div>
        </div>
      </section>

      <section class="s-embed">
        <div class="s-embed__container container">
          <div class="s-embed__row row">
            <div class="s-embed__col col-12" id="embedMetabase">
              <iframe src="https://emplois.inclusion.beta.gouv.fr/stats/pilotage/52" title="Quelle est la typologie des prescripteurs sur mon territoire ?" id="iframeMetabase" frameborder="0" allowtransparency></iframe>
            </div>
            <div class="s-embed__col col-12 mt-5 mb-3 mb-lg-5">
              <h2 class="h3">Aide à la lecture et à l'utilisation de ces indicateurs/graphiques</h2>
              <p>
                <strong>Comment obtenir le nombre (ou la répartition) exacte correspondant à un élément de réponse ?</strong><br>
                En survolant la couleur attribuée à cet élément de réponse sur le graphique, vous trouverez le nombre (ou la part) de cet élément dans une infobulle.
              </p>
              <p>
                <strong>Comment obtenir la définition d'un chiffre ou d'un indicateur/graphique ?</strong><br>
                En cliquant dessus, notre dictionnaire des indicateurs s’ouvrira (directement au niveau de celui demandé).
              </p>
              <p>
                <strong>Vous n’êtes pas sûr·e de comprendre les termes/sigles utilisés ?</strong><br>
                L'ensemble des termes/sigles utilisés ici est défini dans le <a href="https://doc.inclusion.beta.gouv.fr/glossaire-inclusion" target="_blank" rel="noopener">glossaire de l’inclusion</a>.
              </p>
              <p>
                <strong>Est-il possible de sélectionner seulement certaines données pour générer ces indicateurs/graphiques ?</strong><br>
                Oui, vous pouvez sélectionner les données que vous souhaitez en utilisant les filtres en haut de l’écran, voici un exemple : <br>
                <img src="../../images/tableaux-ex-img-01.png" class="mt-1" alt="">
              </p>
              <p>
                <strong>Comment télécharger les données d'un indicateur/graphique ?</strong><br>
                En cliquant sur cette icône qui apparaît en haut à droite d’un graphique au survol de la souris : <br>
                <img src="../../images/tableaux-ex-img-02.png" class="mt-1" alt="">
              </p>
            </div>
          </div>
        </div>
      </section>

      <%- include('./../../_sections/autres-tableaux', {pathDepth: './../..'}) %>

    </main>

    <%- include('./../../_sections/footer', {pathDepth: './../..'}) %>

    <%- include('./../../_partials/footer-scripts', {pathDepth: './../..', hasTracking: true, hasIframeResizer: true }) %>
  </body>

</html>
