<!DOCTYPE html>
<html lang="fr">

<head>
  <%- include('./../_partials/head', {pathDepth: '/../' }) %>
</head>

<body class="l-tableaux-de-bord" id="top">

  <%- include('./../_partials/skip-links') %>

  <%- include('./../_sections/header', {pathDepth: './..', currentItem: 'tableaux-de-bord'}) %>

  <main id="main" role="main" class="s-main" tabindex="-1">

    <section class="c-breadcrumb c-breadcrumb--pilotage">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <nav class="c-breadcrumb c-breadcrumb--pilotage" aria-label="breadcrumb">
              <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/">Accueil</a></li>
                <li class="breadcrumb-item active" aria-current="page">Tableaux de bord publics</li>
              </ol>
            </nav>
          </div>
        </div>
      </div>
    </section>

    <section class="s-section mb-0">
      <div class="s-section__container container">
        <div class="row mb-1">
          <div class="col-12 text-center">
            <h1 class="h1"><strong>Tableaux de bord publics</strong></h1>
            <p class="h3 text-secondary">Ces tableaux de bord sont ouverts à tous</p>
          </div>
        </div>
      </div>
    </section>

    <section class="s-tableaux">
      <div class="s-tableaux__container container">
        <div class="s-tableaux__row row mb-3">
          <div class="col-12">
            <h2 class="text-secondary">Recrutement</h2>
          </div>
        </div>
        <div class="s-tableaux__row row">
          <div class="s-tableaux__col s-tableaux__col--grid col-12">
            <div class="d-flex flex-column justify-content-between position-relative">
              <div>
                <h3 class="h3"><strong>État et suivi des candidatures</strong></h3>
                <p>Quel est l’état et le suivi des candidatures orientées et émises ?</p>
              </div>
              <p class="s-tableaux__col__cta">
                <a href="/tableaux-de-bord/etat-suivi-candidatures" rel="noopener" class="btn btn-outline-primary stretched-link">Voir le tableau de bord</a>
              </p>
            </div>
            <div class="d-flex flex-column justify-content-between position-relative">
              <div>
                <h3 class="h3"><strong>Métiers</strong></h3>
                <p>Quels sont les métiers proposés et recherchés depuis fin 2019 ?</p>
              </div>
              <p class="s-tableaux__col__cta">
                <a href="/tableaux-de-bord/metiers" rel="noopener" class="btn btn-outline-primary stretched-link">Voir le tableau de bord</a>
              </p>
            </div>
            <div class="d-flex flex-column justify-content-between position-relative">
              <div>
                <h3 class="h3"><strong>Postes en tension</strong></h3>
                <p>Quels sont les postes en tension de recrutement et où ?</p>
              </div>
              <p class="s-tableaux__col__cta">
                <a href="/tableaux-de-bord/postes-en-tension" rel="noopener" class="btn btn-outline-primary stretched-link">Voir le tableau de bord</a>
              </p>
            </div>
            <div class="d-flex flex-column justify-content-between position-relative">
              <div>
                <h3 class="h3"><strong>L'auto-prescription</strong></h3>
                <p>Quels critères remplissent les personnes recrutées en auto-prescription ?</p>
              </div>
              <p class="s-tableaux__col__cta">
                <a href="/tableaux-de-bord/auto-prescription" rel="noopener" class="btn btn-outline-primary stretched-link">Voir le tableau de bord</a>
              </p>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="s-tableaux">
      <div class="s-tableaux__container container">
        <div class="s-tableaux__row row mb-3">
          <div class="col-12">
            <h2 class="text-secondary">Prescripteurs</h2>
          </div>
        </div>
        <div class="s-tableaux__row row">
          <div class="s-tableaux__col s-tableaux__col--grid col-12">
            <div class="d-flex flex-column justify-content-between position-relative">
              <div>
                <h3 class="h3"><strong>Zoom sur les prescripteurs</strong></h3>
                <p>Quels prescripteurs agissent sur mon territoire et comment ?</p>
              </div>
              <p class="s-tableaux__col__cta">
                <a href="/tableaux-de-bord/zoom-prescripteurs" rel="noopener" class="btn btn-outline-primary stretched-link">Voir le tableau de bord</a>
              </p>
            </div>
            <div class="d-flex flex-column justify-content-between position-relative">
              <div>
                <h3 class="h3"><strong>Prescripteurs habilités</strong></h3>
                <p>Quel est le taux de transformation des prescripteurs habilités ?</p>
              </div>
              <p class="s-tableaux__col__cta">
                <a href="/tableaux-de-bord/prescripteurs-habilites" rel="noopener" class="btn btn-outline-primary stretched-link">Voir le tableau de bord</a>
              </p>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="s-tableaux">
      <div class="s-tableaux__container container">
        <div class="s-tableaux__row row mb-3">
          <div class="col-12">
            <h2 class="text-secondary">Employeurs inclusifs</h2>
          </div>
        </div>
        <div class="s-tableaux__row row">
          <div class="s-tableaux__col s-tableaux__col--grid col-12">
            <div class="d-flex flex-column justify-content-between position-relative">
              <div>
                <h3 class="h3"><strong>Zoom sur les employeurs</strong></h3>
                <p>Quels employeurs inclusifs dynamisent mon territoire et comment ?</p>
              </div>
              <p class="s-tableaux__col__cta">
                <a href="/tableaux-de-bord/zoom-employeurs" rel="noopener" class="btn btn-outline-primary stretched-link">Voir le tableau de bord</a>
              </p>
            </div>
            <div class="d-flex flex-column justify-content-between position-relative">
              <div>
                <h3 class="h3"><strong>ETP conventionnés</strong></h3>
                <p>Combien d'ETP conventionnés en IAE et où ?</p>
              </div>
              <p class="s-tableaux__col__cta">
                <a href="/tableaux-de-bord/etp-conventionnes" rel="noopener" class="btn btn-outline-primary stretched-link">Voir le tableau de bord</a>
              </p>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="s-tableaux">
      <div class="s-tableaux__container container">
        <div class="s-tableaux__row row mb-3">
          <div class="col-12">
            <h2 class="text-secondary">Publics</h2>
          </div>
        </div>
        <div class="s-tableaux__row row">
          <div class="s-tableaux__col s-tableaux__col--grid col-12">
            <div class="d-flex flex-column justify-content-between position-relative">
              <div>
                <h3 class="h3"><strong>Analyse des publics</strong></h3>
                <p>Quels critères remplissent les candidats sur les emplois de l'inclusion ?</p>
              </div>
              <p class="s-tableaux__col__cta">
                <a href="/tableaux-de-bord/analyse-des-publics" rel="noopener" class="btn btn-outline-primary stretched-link">Voir le tableau de bord</a>
              </p>
            </div>
            <div class="d-flex flex-column justify-content-between position-relative">
              <div>
                <h3 class="h3"><strong>Suivi des Pass IAE</strong></h3>
                <p>Combien de Pass IAE arrivent à expiration, semaine après semaine ?</p>
              </div>
              <p class="s-tableaux__col__cta">
                <a href="/tableaux-de-bord/suivi-pass-iae" rel="noopener" class="btn btn-outline-primary stretched-link">Voir le tableau de bord</a>
              </p>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="s-tableaux">
      <div class="s-tableaux__container container">
        <div class="s-tableaux__row row mb-3">
          <div class="col-12">
            <h2 class="text-secondary">Statistiques des services de la Plateforme de l’inclusion</h2>
          </div>
        </div>
        <div class="s-tableaux__row row">
          <div class="s-tableaux__col s-tableaux__col--grid col-12">
            <div class="d-flex flex-column justify-content-between position-relative">
              <div>
                <h3 class="h3"><strong>Stats du service <i>emplois de l’inclusion</i></strong></h3>
                <p>Statistiques avancées de l’utilisation du service disponible à l’adresse https://emplois.inclusion.beta.gouv.fr</p>
              </div>
              <p class="s-tableaux__col__cta">
                <a href="/tableaux-de-bord/statistiques-emplois" rel="noopener" class="btn btn-outline-primary stretched-link">Voir le tableau de bord</a>
              </p>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="s-section mt-md-6">
      <div class="s-section__container container">
        <div class="row mb-1 mb-md-3">
          <div class="col-12">
            <h2 class="text-secondary">Aide et ressources</h2>
          </div>
        </div>
        <div class="s-section__row row row-cols-1 row-cols-md-2 row-cols-lg-3">
          <div class="col mb-3 mb-md-5">
            <div class="card c-card c-card--communaute has-one-link-inside h-100 w-100">
              <div class="card-header">
                <h3 class="h3">Guide d’utilisation</h3>
              </div>
              <div class="card-body">
                <p>Aide à la lecture et à l'utilisation des tableaux de bord</p>
              </div>
              <div class="card-footer text-right">
                <a href="https://communaute.inclusion.beta.gouv.fr/doc/pilotage/guide-d-utilisation/" target="_blank" class="btn btn-ico btn-link stretched-link">
                  <span>Accéder au guide d’utilisation</span>
                  <i class="ri-external-link-line ri-lg"></i>
                </a>
              </div>
            </div>
          </div>
          <div class="col mb-3 mb-md-5">
            <div class="card c-card c-card--communaute has-one-link-inside h-100 w-100">
              <div class="card-header">
                <h3 class="h3">Dictionnaire des indicateurs</h3>
              </div>
              <div class="card-body">
                <p>Liste de tous les indicateurs présentant leurs définitions, formules et sources de données</p>
              </div>
              <div class="card-footer text-right">
                <a href="https://communaute.inclusion.beta.gouv.fr/doc/pilotage/dictionnaire-des-indicateurs/" target="_blank" class="btn btn-ico btn-link stretched-link">
                  <span>Accéder au dictionnaire</span>
                  <i class="ri-external-link-line ri-lg"></i>
                </a>
              </div>
            </div>
          </div>
          <div class="col mb-3 mb-md-5">
            <div class="card c-card c-card--communaute has-one-link-inside h-100 w-100">
              <div class="card-header">
                <h3 class="h3">Glossaire</h3>
              </div>
              <div class="card-body">
                <p>Comprenez les sigles utilisés dans nos tableaux</p>
              </div>
              <div class="card-footer text-right">
                <a href="https://communaute.inclusion.beta.gouv.fr/doc/communaute/glossaire-de-linclusion/" target="_blank" class="btn btn-ico btn-link stretched-link">
                  <span>Accéder au glossaire</span>
                  <i class="ri-external-link-line ri-lg"></i>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

  </main>

  <%- include('./../_sections/footer', {pathDepth: './..'}) %>

  <%- include('./../_partials/footer-scripts', {pathDepth: './..', hasTracking: false }) %>
</body>

</html>
