<!DOCTYPE html>

<html lang="fr">

  <head>
    <%- include('./../_partials/head', {pathDepth: '/../' }) %>
  </head>

  <body class="l-tableaux-de-bord" id="top">

    <%- include('./../_partials/skip-links') %>

      <%- include('./../_sections/header', {pathDepth: './..' , currentItem: 'tableaux-de-bord' }) %>

        <main id="main" role="main" class="s-main" tabindex="-1">

          <section>
            <div class="container">
              <div class="row">
                <div class="col-12">
                  <nav class="c-breadcrumb" aria-label="breadcrumb">
                    <ol class="breadcrumb">
                      <li class="breadcrumb-item"><a href="/">Accueil</a></li>
                      <li class="breadcrumb-item active" aria-current="page">Tableaux de bord publics</li>
                    </ol>
                  </nav>
                </div>
              </div>
            </div>
          </section>

          <section class="s-section mb-0">
            <div class="s-section__container container">
              <div class="row mb-1">
                <div class="col-12 col-xl-11">
                  <h1 class="h1"><strong>Tableaux de bord publics</strong></h1>
                  <p>Ces tableaux de bord sont ouverts à tous.</p>
                  <p class="h3">Le détail du périmètre de nos données pour comprendre comment sont construits nos tableaux de bord est disponible <a href="https://aide.pilotage.inclusion.beta.gouv.fr/hc/fr/articles/17407896468113--P%C3%A9rim%C3%A8tre-de-nos-donn%C3%A9es" target="_blank" aria-label="Détail du périmètre de nos données">ici</a>.</p>
                </div>
              </div>
            </div>
          </section>

          <section class="s-tableaux">
            <div class="s-tableaux__container container">
              <div class="s-tableaux__row row mb-3">
                <div class="col-12">
                  <h2 class="text-secondary">Vue d’ensemble</h2>
                </div>
              </div>
              <div class="s-tableaux__row row">
                <div class="s-tableaux__col s-tableaux__col--grid col-12">
                  <div class="d-flex flex-column justify-content-between position-relative">
                    <div>
                      <h3 class="h3"><strong>Bilan de la phase de candidature en IAE</strong></h3>
                      <p>Quel bilan annuel faire sur l’offre en IAE, les candidats, les candidatures et les réalisations des prescripteurs ? Où en sont les régions et les départements ?</p>
                    </div>
                    <p class="s-tableaux__col__cta">
                      <a href="/tableaux-de-bord/bilan-candidatures-iae" rel="noopener" class="btn btn-outline-primary stretched-link">Voir le tableau de bord</a>
                    </p>
                  </div>
                  <div class="d-flex flex-column justify-content-between position-relative">
                    <div>
                      <h3 class="h3"><strong>Cartographies de l’IAE en France</strong></h3>
                      <p>L'IAE dans les territoires, quelles données locales ?</p>
                    </div>
                    <p class="s-tableaux__col__cta">
                      <a href="/tableaux-de-bord/cartographies-iae" rel="noopener" class="btn btn-outline-primary stretched-link">Voir le tableau de bord</a>
                    </p>
                  </div>
                  <div class="d-flex flex-column justify-content-between position-relative">
                    <div>
                      <h3 class="h3"><strong>Conventionnements IAE</strong></h3>
                      <p>Combien d’ETP sont affectés aux structures de l’IAE et combien sont consommés ?</p>
                    </div>
                    <p class="s-tableaux__col__cta">
                      <a href="/tableaux-de-bord/conventionnements-iae" rel="noopener" class="btn btn-outline-primary stretched-link">Voir le tableau de bord</a>
                    </p>
                  </div>
                  <div class="d-flex flex-column justify-content-between position-relative">
                    <div>
                      <h3 class="h3"><strong>Analyses autour des conventionnements IAE</strong></h3>
                      <p>Quel part du budget de l’IAE bénéficie aux femmes ?  Combien d’heures sont réalisées en moyenne dans les structures ?</p>
                    </div>
                    <p class="s-tableaux__col__cta">
                      <a href="/tableaux-de-bord/analyses-conventionnements-iae" rel="noopener" class="btn btn-outline-primary stretched-link">Voir le tableau de bord</a>
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </section>

          <section class="s-tableaux">
            <div class="s-tableaux__container container">
              <div class="s-tableaux__row row mb-3">
                <div class="col-12">
                  <h2 class="text-secondary">Recrutement</h2>
                </div>
              </div>
              <div class="s-tableaux__row row">
                <div class="s-tableaux__col s-tableaux__col--grid col-12">
                  <div class="d-flex flex-column justify-content-between position-relative">
                    <div>
                      <h3 class="h3"><strong>État, suivi et résultat des candidatures orientées</strong></h3>
                      <p>Combien de candidatures orientées ? Où en sont-ils ? Quels sont les résultats ?</p>
                    </div>
                    <p class="s-tableaux__col__cta">
                      <a href="/tableaux-de-bord/etat-suivi-candidatures" rel="noopener" class="btn btn-outline-primary stretched-link">Voir le tableau de bord</a>
                    </p>
                  </div>
                  <div class="d-flex flex-column justify-content-between position-relative">
                    <div>
                      <h3 class="h3"><strong>Métiers</strong></h3>
                      <p>Quels sont les métiers proposés et recherchés depuis fin 2019 ?</p>
                    </div>
                    <p class="s-tableaux__col__cta">
                      <a href="/tableaux-de-bord/metiers" rel="noopener" class="btn btn-outline-primary stretched-link">Voir le tableau de bord</a>
                    </p>
                  </div>
                  <div class="d-flex flex-column justify-content-between position-relative">
                    <div>
                      <h3 class="h3"><strong>Postes en tension</strong></h3>
                      <p>Quels sont les postes en tension de recrutement et où ?</p>
                    </div>
                    <p class="s-tableaux__col__cta">
                      <a href="/tableaux-de-bord/postes-en-tension" rel="noopener" class="btn btn-outline-primary stretched-link">Voir le tableau de bord</a>
                    </p>
                  </div>
                  <div class="d-flex flex-column justify-content-between position-relative">
                    <div>
                      <h3 class="h3"><strong>L'auto-prescription</strong></h3>
                      <p>Comment les structures se saisissent de l’auto-prescription ? Quels critèrent remplissent les personnes recrutées en auto-prescription ?</p>
                    </div>
                    <p class="s-tableaux__col__cta">
                      <a href="/tableaux-de-bord/auto-prescription" rel="noopener" class="btn btn-outline-primary stretched-link">Voir le tableau de bord</a>
                    </p>
                  </div>
                  <div class="d-flex flex-column justify-content-between position-relative">
                    <div>
                      <h3 class="h3"><strong>Suivi du contrôle a posteriori</strong></h3>
                      <p>Quels sont les résultats des campagnes de contrôle a posteriori ?</p>
                    </div>
                    <p class="s-tableaux__col__cta">
                      <a href="/tableaux-de-bord/suivi-controle-a-posteriori" rel="noopener" class="btn btn-outline-primary stretched-link">Voir le tableau de bord</a>
                    </p>
                  </div>
                  <div class="d-flex flex-column justify-content-between position-relative">
                    <div>
                      <h3 class="h3"><strong>Demandes de prolongation</strong></h3>
                      <p>Combien de demandes de prolongation sont réalisées, et par qui&nbsp;? Combien sont acceptées ?</p>
                    </div>
                    <p class="s-tableaux__col__cta">
                      <a href="/tableaux-de-bord/suivi-demandes-prolongation" rel="noopener" class="btn btn-outline-primary stretched-link">Voir le tableau de bord</a>
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </section>

          <section class="s-tableaux">
            <div class="s-tableaux__container container">
              <div class="s-tableaux__row row mb-3">
                <div class="col-12">
                  <h2 class="text-secondary">Prescripteurs</h2>
                </div>
              </div>
              <div class="s-tableaux__row row">
                <div class="s-tableaux__col s-tableaux__col--grid col-12">
                  <div class="d-flex flex-column justify-content-between position-relative">
                    <div>
                      <h3 class="h3"><strong>Zoom sur les prescripteurs</strong></h3>
                      <p>Quels prescripteurs agissent sur mon territoire et comment ?</p>
                    </div>
                    <p class="s-tableaux__col__cta">
                      <a href="/tableaux-de-bord/zoom-prescripteurs" rel="noopener" class="btn btn-outline-primary stretched-link">Voir le tableau de bord</a>
                    </p>
                  </div>
                  <div class="d-flex flex-column justify-content-between position-relative">
                    <div>
                      <h3 class="h3"><strong>Accompagnement des prescripteurs habilités</strong></h3>
                      <p>Quel est le taux de transformation des prescripteurs habilités ? ☝️ Ici, l’analyse porte sur les candidats pour lesquels les prescripteurs habilités ont réalisé le diagnostic d’éligibilité.</p>
                    </div>
                    <p class="s-tableaux__col__cta">
                      <a href="/tableaux-de-bord/prescripteurs-habilites" rel="noopener" class="btn btn-outline-primary stretched-link">Voir le tableau de bord</a>
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </section>

          <section class="s-tableaux">
            <div class="s-tableaux__container container">
              <div class="s-tableaux__row row mb-3">
                <div class="col-12">
                  <h2 class="text-secondary">Employeurs inclusifs</h2>
                </div>
              </div>
              <div class="s-tableaux__row row">
                <div class="s-tableaux__col s-tableaux__col--grid col-12">
                  <div class="d-flex flex-column justify-content-between position-relative">
                    <div>
                      <h3 class="h3"><strong>Zoom sur les employeurs</strong></h3>
                      <p>Quels employeurs inclusifs dynamisent mon territoire et comment ?</p>
                    </div>
                    <p class="s-tableaux__col__cta">
                      <a href="/tableaux-de-bord/zoom-employeurs" rel="noopener" class="btn btn-outline-primary stretched-link">Voir le tableau de bord</a>
                    </p>
                  </div>
                  <div class="d-flex flex-column justify-content-between position-relative">
                    <div>
                      <h3 class="h3"><strong>Zoom sur les ESAT</strong></h3>
                      <p>Plan de transformation des ESAT : d’où partons-nous ?</p>
                    </div>
                    <p class="s-tableaux__col__cta">
                      <a href="/tableaux-de-bord/zoom-esat" rel="noopener" class="btn btn-outline-primary stretched-link">Voir le tableau de bord</a>
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </section>

          <section class="s-tableaux">
            <div class="s-tableaux__container container">
              <div class="s-tableaux__row row mb-3">
                <div class="col-12">
                  <h2 class="text-secondary">Publics</h2>
                </div>
              </div>
              <div class="s-tableaux__row row">
                <div class="s-tableaux__col s-tableaux__col--grid col-12">
                  <div class="d-flex flex-column justify-content-between position-relative">
                    <div>
                      <h3 class="h3"><strong>Suivi des Pass IAE</strong></h3>
                      <p>Combien de Pass IAE arrivent à expiration, semaine après semaine ?</p>
                    </div>
                    <p class="s-tableaux__col__cta">
                      <a href="/tableaux-de-bord/suivi-pass-iae" rel="noopener" class="btn btn-outline-primary stretched-link">Voir le tableau de bord</a>
                    </p>
                  </div>
                  <div class="d-flex flex-column justify-content-between position-relative">
                    <div>
                      <h3 class="h3"><strong>Les femmes dans l’IAE</strong></h3>
                      <p>Quelle est la place des femmes dans l’IAE ?</p>
                    </div>
                    <p class="s-tableaux__col__cta">
                      <a href="/tableaux-de-bord/femmes-iae" rel="noopener" class="btn btn-outline-primary stretched-link">Voir le tableau de bord</a>
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </section>

          <section class="s-tableaux">
            <div class="s-tableaux__container container">
              <div class="s-tableaux__row row mb-3">
                <div class="col-12">
                  <h2 class="text-secondary">Statistiques des services de la Plateforme de l’inclusion</h2>
                </div>
              </div>
              <div class="s-tableaux__row row">
                <div class="s-tableaux__col s-tableaux__col--grid col-12">
                  <div class="d-flex flex-column justify-content-between position-relative">
                    <div>
                      <h3 class="h3"><strong>Stats du service <i>emplois de l’inclusion</i></strong></h3>
                      <p>Statistiques avancées de l’utilisation du service disponible à l’adresse https://emplois.inclusion.beta.gouv.fr</p>
                    </div>
                    <p class="s-tableaux__col__cta">
                      <a href="/tableaux-de-bord/statistiques-emplois" rel="noopener" class="btn btn-outline-primary stretched-link">Voir le tableau de bord</a>
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </section>

          <%- include('./../_sections/guide-tdb', {pathDepth: './..' }) %>

        </main>

        <%- include('./../_sections/footer', {pathDepth: './..' }) %>

          <%- include('./../_partials/footer-scripts', {pathDepth: './..' , hasTracking: true }) %>
  </body>

</html>
