<!DOCTYPE html>
<html lang="fr">

<head>
  <%- include('./../_partials/head', {pathDepth: '/../' }) %>
</head>

<body class="l-tableaux-de-bord" id="top">

  <%- include('./../_partials/skip-links') %>

  <%- include('./../_sections/header', {pathDepth: './..', currentItem: 'tableaux-de-bord'}) %>

  <main id="main" role="main" class="s-main" tabindex="-1">

    <section class="c-breadcrumb c-breadcrumb--pilotage">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <nav class="c-breadcrumb c-breadcrumb--pilotage" aria-label="breadcrumb">
              <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/">Accueil</a></li>
                <li class="breadcrumb-item active" aria-current="page">Tableaux de bord</li>
              </ol>
            </nav>
          </div>
        </div>
      </div>
    </section>

    <section class="s-tableaux">
      <div class="s-tableaux__container container">
        <div class="s-tableaux__row row">
          <div class="s-tableaux__col s-tableaux__col--title col-12">
            <h1 class="h1-hero"><strong>Tableaux de bord</strong></h1>
          </div>
          <div class="s-tableaux__col s-tableaux__col--grid col-12">
            <div class="d-flex flex-column justify-content-between position-relative">
              <div>
                <h2 class="h1"><strong>Postes en tension</strong></h2>
                <p>Quels sont les postes en tension de recrutement ?</p>
              </div>
              <p class="s-tableaux__col__cta">
                <a href="/tableaux-de-bord/postes-en-tension" rel="noopener" class="btn btn-link btn-ico stretched-link">
                  <span>Voir le tableau de bord</span>
                  <i class="ri-arrow-right-line ri-lg"></i>
                </a>
              </p>
            </div>
            <div class="d-flex flex-column justify-content-between position-relative">
              <div>
                <h2 class="h1"><strong>Prescripteurs habilités</strong></h2>
                <p>Quel est le taux de transformation des prescripteurs habilités</p>
              </div>
              <p class="s-tableaux__col__cta">
                <a href="/tableaux-de-bord/prescripteurs-habilites" rel="noopener" class="btn btn-link btn-ico stretched-link">
                  <span>Voir le tableau de bord</span>
                  <i class="ri-arrow-right-line ri-lg"></i>
                </a>
              </p>
            </div>
            <div class="d-flex flex-column justify-content-between position-relative">
              <div>
                <h2 class="h1"><strong>ETP conventionnés</strong></h2>
                <p>Combien d'ETP conventionnés en IAE et où ?</p>
              </div>
              <p class="s-tableaux__col__cta">
                <a href="/tableaux-de-bord/etp-conventionnes" rel="noopener" class="btn btn-link btn-ico stretched-link">
                  <span>Voir le tableau de bord</span>
                  <i class="ri-arrow-right-line ri-lg"></i>
                </a>
              </p>
            </div>
            <div class="d-flex flex-column justify-content-between position-relative">
              <div>
                <h2 class="h1"><strong>Analyse des publics</strong></h2>
                <p>Quels critères remplissent les candidats sur les emplois de l'inclusion ?</p>
              </div>
              <p class="s-tableaux__col__cta">
                <a href="/tableaux-de-bord/analyse-des-publics" rel="noopener" class="btn btn-link btn-ico stretched-link">
                  <span>Voir le tableau de bord</span>
                  <i class="ri-arrow-right-line ri-lg"></i>
                </a>
              </p>
            </div>
            <div class="d-flex flex-column justify-content-between position-relative">
              <div>
                <h2 class="h1"><strong>Recrutement</strong></h2>
                <p>Evolution du nombre de candidatures, motifs de refus, profils des candidats acceptés... Quelle vision d'ensemble du processus de recrutement ?</p>
              </div>
              <p class="s-tableaux__col__cta">
                <a href="/tableaux-de-bord/recrutement" rel="noopener" class="btn btn-link btn-ico stretched-link">
                  <span>Voir le tableau de bord</span>
                  <i class="ri-arrow-right-line ri-lg"></i>
                </a>
              </p>
            </div>
            <div class="d-flex flex-column justify-content-between position-relative">
              <div>
                <h2 class="h1"><strong>Employeurs</strong></h2>
                <p>Quelle est la typologie des employeurs inclusifs sur mon territoire ?</p>
              </div>
              <p class="s-tableaux__col__cta">
                <a href="/tableaux-de-bord/employeurs" rel="noopener" class="btn btn-link btn-ico stretched-link">
                  <span>Voir le tableau de bord</span>
                  <i class="ri-arrow-right-line ri-lg"></i>
                </a>
              </p>
            </div>
            <div class="d-flex flex-column justify-content-between position-relative">
              <div>
                <h2 class="h1"><strong>Prescripteurs</strong></h2>
                <p>Quelle est la typologie des prescripteurs sur mon territoire ?</p>
              </div>
              <p class="s-tableaux__col__cta">
                <a href="/tableaux-de-bord/prescripteurs" rel="noopener" class="btn btn-link btn-ico stretched-link">
                  <span>Voir le tableau de bord</span>
                  <i class="ri-arrow-right-line ri-lg"></i>
                </a>
              </p>
            </div>
            <div class="d-flex flex-column justify-content-between position-relative">
              <div>
                <h2 class="h1"><strong>L'auto-prescription</strong></h2>
                <p>Quels critères remplissent les personnes recrutées en auto-prescription ?</p>
              </div>
              <p class="s-tableaux__col__cta">
                <a href="/tableaux-de-bord/criteres" rel="noopener" class="btn btn-link btn-ico stretched-link">
                  <span>Voir le tableau de bord</span>
                  <i class="ri-arrow-right-line ri-lg"></i>
                </a>
              </p>
            </div>
            <div class="d-flex flex-column justify-content-between position-relative">
              <div>
                <h2 class="h1"><strong>Métiers</strong></h2>
                <p>Quels sont les métiers proposés et recherchés depuis fin 2019 ?</p>
              </div>
              <p class="s-tableaux__col__cta">
                <a href="/tableaux-de-bord/metiers" rel="noopener" class="btn btn-link btn-ico stretched-link">
                  <span>Voir le tableau de bord</span>
                  <i class="ri-arrow-right-line ri-lg"></i>
                </a>
              </p>
            </div>
            <div class="d-flex flex-column justify-content-between position-relative">
              <div>
                <h2 class="h1"><strong>Stats des emplois</strong></h2>
                <p>Statistiques avancées des emplois de l'inclusion</p>
              </div>
              <p class="s-tableaux__col__cta">
                <a href="/tableaux-de-bord/statistiques-emplois" rel="noopener" class="btn btn-link btn-ico stretched-link">
                  <span>Voir le tableau de bord</span>
                  <i class="ri-arrow-right-line ri-lg"></i>
                </a>
              </p>
            </div>
          </div>
        </div>
      </div>
    </section>

  </main>

  <%- include('./../_sections/footer', {pathDepth: './..'}) %>

  <%- include('./../_partials/footer-scripts', {pathDepth: './..', hasTracking: false }) %>
</body>

</html>
