<!DOCTYPE html>
<html lang="fr">

  <head>
    <%- include('./_partials/head', {pathDepth: '/' }) %>
  </head>

  <body id="top">

    <%- include('./_partials/skip-links') %>

    <%- include('./_sections/header', {pathDepth: '.' , currentItem: 'accueil' }) %>

    <main id="main" role="main" class="s-main" tabindex="-1">

      <section class="s-comprendre">
        <div class="s-comprendre__container container">
          <div class="s-comprendre__row row">
            <div class="s-comprendre__col s-comprendre__col--article col-12 col-lg-6 col-xl d-flex align-items-center">
              <article>
                <h1 class="h1-hero"><strong>Mieux comprendre<br class="d-none d-lg-inline"> et analyser l'inclusion dans l'emploi</strong></h1>
                <h2 class="h1 font-weight-normal">Automatiser et informer</h2>
                <p>
                  Grâce à des <strong>tableaux de bord prêts à l'emploi</strong>, le pilotage de l’inclusion est un <strong>service numérique</strong> qui permet à tous les acteurs de l'inclusion de prendre des décisions mieux éclairées, tout en réduisant le temps de collecte de données et de production d'indicateurs.
                </p>
                <p class="s-comprendre__col__cta">
                  <a href="/tableaux-de-bord" rel="noopener" class="btn btn-primary btn-ico">
                    <span>Accéder aux tableaux de bord</span>
                    <i class="ri-arrow-right-line ri-lg"></i>
                  </a>
                </p>
              </article>
            </div>
            <div class="s-comprendre__col s-comprendre__col--figure col-12 col-lg-6 col-xl-auto d-flex justify-content-center align-items-center pl-lg-0">
              <figure>
                <img src="/images/comprendre-visuel-01.png" class="img-fluid" alt="">
              </figure>
            </div>
          </div>
        </div>
      </section>

      <section class="s-services">
        <div class="s-services__container container">
          <div class="s-services__row row">
            <div class="s-services__col s-services__col--title col-12">
              <h2 class="h1-hero"><strong>Les services de l'inclusion</strong></h2>
              <p>Découvrez toute l’information et les services numériques de la Plateforme de l'inclusion</p>
            </div>
            <div class="s-services__col s-services__col--grid col-12">
              <div class="d-flex flex-column justify-content-between">
                <div>
                  <p class="s-services__col__title"><img src="/images/logo-emploi-inclusion.svg" height="80" alt="Les emplois de l'inclusion"></p>
                  <p>Les emplois de l'inclusion est un service numérique de délivrance des PASS IAE et de mise en relation <strong>d'employeurs solidaires</strong> avec des <strong>candidats éloignés de l'emploi</strong> par le biais de tiers (prescripteurs habilités, orienteurs) ou en autoprescription.</p>
                </div>
                <p class="s-services__col__cta">
                  <a href="https://emplois.inclusion.beta.gouv.fr" rel="noopener" target="_blank" class="btn btn-link btn-ico" title="Accéder aux emplois de l'inclusion, service numérique de délivrance des PASS IAE">
                    <span>Accéder aux emplois</span>
                    <i class="ri-arrow-right-up-line ri-lg"></i>
                  </a>
                </p>
              </div>
              <div class="d-flex flex-column justify-content-between">
                <div>
                  <p class="s-services__col__title"><img src="/images/logo-communaute-inclusion.svg" height="80" alt="Le marché de l'inclusion"></p>
                  <p>La communauté de l'inclusion est un espace d'<strong>échanges</strong>, de <strong>rencontres</strong> et de <strong>partages</strong> entre les acteurs et actrices de l'insertion. Il est possible de découvrir des bonnes pratiques, des nouveautés, de l'actualité, de poser ses questions.</p>
                </div>
                <p class="s-services__col__cta">
                  <a href="https://communaute.inclusion.beta.gouv.fr" rel="noopener" target="_blank" class="btn btn-link btn-ico" title="Accéder à la communauté de l'inclusion, espace d'échanges, de rencontres et de partages entre les acteurs et actrices de l'insertion.">
                    <span>Accéder à la communauté</span>
                    <i class="ri-arrow-right-up-line ri-lg"></i>
                  </a>
                </p>
              </div>
              <div class="d-flex flex-column justify-content-between">
                <div>
                  <p class="s-services__col__title"><img src="/images/logo-marche-inclusion.svg" height="80" alt="Le marché de l'inclusion"></p>
                  <p>Vous souhaitez inscrire vos achats dans une démarche inclusive ? Le marché de l'inclusion est un service numérique permettant d'accéder à l'annuaire des <strong>entreprises sociales inclusives</strong> proposant des produits ou services inclusifs.</p>
                </div>
                <p class="s-services__col__cta">
                  <a href="https://lemarche.inclusion.beta.gouv.fr" rel="noopener" target="_blank" class="btn btn-link btn-ico" title="Accéder au marché de l'inclusion, un service numérique permettant d'accéder à l'annuaire des entreprises sociales inclusives.">
                    <span>Accéder au marché</span>
                    <i class="ri-arrow-right-up-line ri-lg"></i>
                  </a>
                </p>
              </div>
            </div>
          </div>
        </div>
      </section>

    </main>

    <%- include('./_sections/footer', {pathDepth: '.' }) %>

    <%- include('./_partials/footer-scripts', {pathDepth: '.', hasTracking: true }) %>
  </body>

</html>
